.back-to-top {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--color-theme);
  position: fixed;
  z-index: 10;
  bottom: 1rem;
  right: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (width < 767px) {
  .back-to-top {
    bottom: 4rem;
  }
}
