.blog {
  padding-inline: var(--padding-inline);
  
  &__slider {
    &__item {
      border-radius: 0.5rem;
      overflow: hidden;
      text-align: center;
      border: 1px solid var(--color-border);

      img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin-inline: auto;
      }
    }
  }

  .blog-item-info {
    padding: 1.5rem;
  }

  .blog-item-name {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
}
