.collection {
  padding-inline: var(--padding-inline);

  &__slider {
    img {
      max-width: 100%;
      height: auto;
      margin-inline: auto;
    }
  }

  .slick-slide {
    padding: 0 0.5rem;
  }
}

.product-box {
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  overflow: hidden;

  .sale-flash {
    background-color: orange;
    width: fit-content;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    color: white;
    position: absolute;
    top: 1.25rem;
  }

  *:focus-visible {
    outline: unset;
  }
}

.product-info {
  padding: 1rem 0.75rem;

  &__name {
    text-align: center;
    display: block;
  }

  &__price {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    font-weight: 600;
    
    .new-price {
      color: var(--color-orange);
    }
  
    .old-price {
      text-decoration: line-through;
      color: var(--color-disabled);
    }
  }

}
