.testimonial {
    padding-inline: var(--padding-inline);
}

.testimonal-item {
    text-align: center;
    padding: 1.5rem;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;

    img {
        border-radius: 0.5rem;
    }

    h4 {
        margin: 1rem 0 0.5rem 0;
        font-weight: 500;
        font-size: 1.2rem;
    }
}