.action-toolbar {
  &--desktop {
    position: fixed;
    z-index: 1;
    bottom: 5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &--mobile {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    padding-block: 0.75rem;
    border-top: 1px solid #e7e7e7;

    .messenger-icon {
      margin-top: -26px;
    }
  }
}

@media only screen and (width < 767px) {
  .action-toolbar--mobile {
    display: flex;
  }
  .action-toolbar--desktop {
    display: none;
  }
}
