.sidebar-category {
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  flex-shrink: 0;

  &__title {
    background-color: var(--color-theme);
    border-radius: inherit;
    padding: 0.375rem 1.25rem;
    color: white;
  }

  &__content {
    li {
      padding: 0.625rem 1rem;

      &:not(:first-child) {
        border-top: 1px solid var(--color-border);
      }

      a {
        display: flex;
        align-items: center;
        gap: 1ch;

        svg {
          transition: inherit;
        }

        &:hover {
          svg {
            fill: var(--color-theme);
          }
        }
      }
    }
  }
}
