@import "../app/utilities/variable";

html {
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-wrap: balance;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;

  &:hover {
    color: var(--color-theme);
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
