.home-page {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__carousel-row {
        display: flex;
        gap: 2rem;
        padding-top: 2rem;
        padding-inline: var(--padding-inline);
    }
}