.header {
  &__topbar {
    background-color: var(--color-theme);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-inline: var(--padding-inline);

    &__phone-and-address {
      list-style: none;
      display: flex;
      gap: 20px;

      li {
        display: flex;
        align-items: center;
      }
    }
  }

  &-login {
    display: flex;
    align-items: center;
    a {
      color: white;
      font-weight: 600;
    }
  }

  &-item-policy {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.75rem;
    row-gap: 0.3rem;
    grid-template-areas:
      "image label"
      "image content";
    > img {
      grid-area: image;
      align-self: center;
    }
    > b {
      grid-area: label;
    }
    > span {
      grid-area: content;
    }
  }

  &-hamburger {
    display: none;
  }

  &__content {
    padding: 3.125rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-cart {
    &--desktop {
      background-color: var(--color-orange);
      border-radius: 100vh;
      color: white;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      padding: 0.5rem 1.2rem;
    }

    &--mobile {
      position: relative;
      display: none;

      .cart-badge {
        width: 24px;
        height: 24px;
        background-color: #fe9705;
        border-radius: 50%;
        font-size: small;
        color: white;
        position: absolute;
        top: -12px;
        right: -10px;
        z-index: -1;
      }
    }
  }

  &__navbar {
    background-color: var(--color-theme);
    padding-inline: var(--padding-inline);

    .nav-left {
      list-style: none;
      display: flex;

      a {
        &.active,&:hover {
          background-color: var(--color-orange);
        }
        transition: all 150ms ease;
        display: block;
        padding: 1rem;
        color: white;
      }
    }
  }
}

@media only screen and (width < 992px) {
  .header {
    &__topbar {
      justify-content: center;
    }

    &-address,
    &-login,
    &-cart--desktop {
      display: none;
    }

    &-cart--mobile,
    &-hamburger {
      display: block;
    }
  }
}
