.footer {
  color: white;
  background-color: #65932a;
  padding-bottom: 4rem;

  &__content {
    padding-top: 2.25rem;
    padding-inline: 1rem;
    line-height: 1.7em;
  }

  &--contact {
    svg {
        fill: orange;
    }
    ul {
      margin-top: 0.375rem;

      li {
        display: grid;
        grid-template-columns: 1.5rem 1fr;
        margin-bottom: 0.375rem;

        img {
          margin-top: 0.2rem;
        }
      }
    }
  }

  .expander {
    .expander__label {
      padding: 0.75rem 0 1.25rem 0;
    }

    h3 {
      position: relative;
      &::after {
        content: "+";
        position: absolute;
        top: -0.125rem;
        right: 0;
      }
    }

    &.expanded {
      h3 {
        &::after {
          content: "-";
        }
      }
    }
  }
}
