.expander {
  &__label {
    cursor: pointer;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;

    > * {
      overflow: hidden;
    }
  }

  &.expanded {
    .expander__content {
      grid-template-rows: 1fr;
    }
  }
}
