.carousel {
  overflow: hidden;
  
    &__slider {
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .slick-slide {
      padding: 0;
    }
  }
  