.section-title {
  background: var(--color-theme);
  width: fit-content;
  margin: 0 auto;
  color: white;
  padding: 0.5rem 1.25rem;
  font-size: medium;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
