.policy {
    padding-inline: var(--padding-inline);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;

    img {
        max-width: 100%;
        width: auto;
        height: auto;
        border-radius: 0.5rem;
    }

    @media only screen and (width < 768px) {
        grid-template-columns: 1fr;
    }
}