.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-inline: var(--padding-inline);
}

// react-slick
.slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-next {
  right: 25px;
}

.slick-slide {
  padding: 0 1rem;
}

.slick-slider.gray-arrows {
  .slick-prev {
    &::before {
      color: gray;
    }
  }

  .slick-next {
    &::before {
      color: gray;
    }
  }
}
